node_modules/
dist/
package-lock.json
yarn-error.log
yarn-debug.log*
npm-debug.log*
lerna-debug.log*
lerna-changelog.md*
lerna-changelog.json*
lerna.json*
coverage/
*.log*
*.tsbuildinfo*
*.tgz*
*.zip*
*.tar.gz*
.env
# Local env files